.pie{
    background-color: #fffcfc;
    margin-top: 30px;
    bottom: 0;
    text-align: center;
    width: 100%;
    position: relative;
        a{
            font-size: 30px;
            letter-spacing: 15px;
        }
    }
@media only screen and (min-width:768px){
.pie{
    background-color: #fffcfc;
    bottom: 0;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    position: relative;
        a{
            font-size: 30px;
            letter-spacing: 15px;
        }
    }}