.pie{
    background-color: #fffcfc;
    height: 60px;
    bottom: 0;
    text-align: center;
    width: 100%;
    position: fixed;
        a{
            font-size: 30px;
            letter-spacing: 15px;
        }
    }