@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
$Fondo:#427AA1;
$Letra:'Protest Revolution', sans-serif;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: $Letra;
    font-size: 6vw;
    text-align: center;
}
h2{
    font-family: $Letra;
    font-size: 6vw;
    text-align: center;
}
.logo{
    height: 150px;
  display: flex;
  justify-content: center;
}
.fondo{
    background-color:$Fondo;
}
.mapa{
    height: 100%;
    width: 100%;
    padding: 25px;
}
.texto{
    font-size: 3vw;
}
.formulario{
    text-align: center;
}
.imagen{
    height: 400px;
    width: 300px;
    display: block;
    justify-content: center;
    align-items: center;
}
.cartas{
        height: 300px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}  


@media only screen and (min-width:768px){
    h1{
        font-family: $Letra;
        font-size: 3vw;
        text-align: center;
    }
    h2{
        font-family: $Letra;
        font-size: 2vw;
        text-align: center;
    }
    .texto{
        font-size: 1.5vw;
    }
    .formulario{
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
        resize: vertical;
        text-align: center;
    }
    .logo{
        height: 300px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .mapa{
        height: 500px;
        width: 500px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    .imagen{
        height: 400px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .cartas{
        height: 550px;
        width: 550px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }  
}  